*.user
Makefile
NodoUI/Makefile
NodoUI/nodo_embedded_interface.*
NodoUI/build
//NodoUI/assets
NodoDaemon/Makefile
NodoDaemon/nodo_embedded_adaptor.*
NodoDaemon/build
.qmake.stash
compile_commands.json
log.*

