# /usr/lib/systemd/system/nodoUI.service
[Unit]
Description=Monero Nodo NodoUI service
# Conflicts=getty@tty1.service getty@tty7.service
# After=getty@tty1.service getty@tty7.service
After=dbus.service
#Wants=network-online.target
#After=network.target network-online.target


[Service]
ExecStart=/opt/nodo/nodoUI.sh &
User=nodo

[Install]
Alias=display-manager.service

