# /usr/lib/systemd/system/nodonm-dbus.service
[Unit]
Description=Monero Nodo Network Manager Dbus service
After=dbus.service
[Service]
Type=dbus
BusName=com.monero.nodonm
ExecStart=/opt/nodo/NodoNetworkManager
User=nodo
[Install]
WantedBy=multi-user.target
